.titulo-confirmacao {
    color: var(--vermelho);
    margin: 25px;
}

.box__confirm {
    background-color: var(--branco);
    border: 1px solid #000;
    margin: 0.5rem 4rem;
}

.text-box__confirm {
    margin: 1rem;
    text-align: justify;
    font-family: var(--fonte-1);
    font-size: 12px;
}

.texto__formulario {
    font-size: 11.5px;
}

.texto__formulario-sm {
    font-size: 9px;
}

.form-check-label {
    display: block;
}

.box__textos {
    display: flex;
}
