.box__atencao {
    color: var(--branco);
    background-color: var(--vermelho-escuro);
    font-size: 32px;
    font-weight: 700;
    padding: 2px 320px;
    border-radius: 32px;
}

.sub-titulo-red {
    color: var(--vermelho-escuro);
    font-weight: 500;
}

.texto__lista {
    padding: 2px 300px;
}

.textarea-left::placeholder {
    text-align: start;
}