.home {
    background-color: var(--azul-claro);
    background-image: url(../ASSETS/img/foto-camara.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.titulo-home{
    color: var(--branco);
    margin: 10px;
}

.icon-calendario {
    margin-left: 70px;
}

.icones-home {
    display: flex;
    justify-content:center;
    align-items: center;
    transform: scale(0.40);
}  
