.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    }

.card-reportagem {
    background: var(--gradiente-card);
    padding: 10px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-card {
    display: block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--branco);
    font-family: var(--fonte-1);
}
    
.card_1 { grid-area: 1 / 1 / 2 / 2; }
.card_2 { grid-area: 1 / 2 / 2 / 3; }
.card_3 { grid-area: 1 / 3 / 2 / 4; }
.card_4 { grid-area: 1 / 4 / 2 / 5; }
.card_5 { grid-area: 1 / 5 / 2 / 6; }

.card-reportagem:hover {
    transition : 545ms;
    transform : translateY(-8px);
}

.display-botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin: auto 8rem;
    }
    
    .cartao_1 { grid-area: 1 / 1 / 2 / 2; }
    .cartao_2 { grid-area: 1 / 2 / 2 / 3; }
    .cartao_3 { grid-area: 1 / 3 / 2 / 4; }
    .cartao_4 { grid-area: 1 / 4 / 2 / 5; }
    .cartao_5 { grid-area: 2 / 1 / 3 / 2; }
    .cartao_6 { grid-area: 2 / 2 / 3 / 3; }
    .cartao_7 { grid-area: 2 / 3 / 3 / 4; }
    .cartao_8 { grid-area: 2 / 4 / 3 / 5; }