.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin: auto 8rem;
    }

.card {
    background: var(--gradiente-card);
    padding: 20px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--branco);
    font-family: var(--fonte-1);
}
h4 {
    margin-left: 1rem;
}
.card1 { grid-area: 1 / 1 / 2 / 2; }
.card2 { grid-area: 1 / 2 / 2 / 3; }
.card3 { grid-area: 1 / 3 / 2 / 4; }
.card4 { grid-area: 1 / 4 / 2 / 5; }
.card5 { grid-area: 1 / 5 / 2 / 6; }
.card6 { grid-area: 2 / 1 / 3 / 2; }
.card7 { grid-area: 2 / 2 / 3 / 3; }
.card8 { grid-area: 2 / 3 / 3 / 4; }
.card9 { grid-area: 2 / 4 / 3 / 5; }
.card10 { grid-area: 2 / 5 / 3 / 6; }

.card:hover{
    transition : 545ms;
    transform : translateY(-8px);
    
}